<div class="mb-5 p-5">
  <% for( let project of projects ) { %>
  <div class="card mb-2 w-50 m-auto">
    <div class="card-header" style=" background-color: #fff;
    box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
    border: 2px solid #02b3e4;
    border-radius: .375rem;  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);">
      <strong> Name of the project : </strong><%= project.name %>
    </div>
    <div class="card-body" style="background-color: rgb(237, 243, 255);">
      <h6 class="card-subtitle mb-2 text-muted">
        <strong> Author : </strong> <%= project.author %>
      </h6>
      <p class="card-text">
        <strong> Description : </strong><%= project.description %>
      </p>

      <div class="m-auto text-end">
        <a href="/project/<%=project._id%>" class="btn btn-primary m-auto"
          >Open project</a
        >
      </div>
    </div>
  </div>
  <% } %>
</div>
